@charset "UTF-8";

*, 
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-image: linear-gradient(to bottom, #3d3d3d,  #242020);
  color: aliceblue;
  width: 100vw;
  height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.title {
  font-size: clamp(2.5rem, 3.5vw, 8rem);
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1rem;
  text-shadow: 5px 10px 10px rgba(0, 0, 0, 0.4);
}

.container {
  display: grid;
  gap: clamp(1.5rem, 2.5vw, 5rem);
}

.move-icon {
  height: clamp(5rem, 5vw, 8rem);
}

.move-btn {
  position: relative;
  border: .4em solid rgb(198, 199, 199);
  background-color: transparent;
  border-radius: 50%;
  padding: clamp(1.5rem, 2.5vw, 5rem);
  cursor: pointer;
  transition: all 100ms ease-in-out;
}

.move-btn:hover {
  border: .4em solid rgb(250, 192, 54);
  scale: 1.1;
}

.result,
.score {
  font-size: clamp(1.5rem, 2.5vw, 4rem);
  text-align: center;
}

.reset-btn {
  background-color: rgb(198, 199, 199);
  font-size: clamp(1.5rem, 2.5vw, 4rem);
  font-weight: 700;
  text-transform: uppercase;
  padding-block: min(1.5rem, 4rem);
  padding-inline: min(2.5rem, 6rem);
  border: 3px inset;
  border-radius: 20px;
  transition: background-color 200ms ease-in-out, 
  border 200ms ease-in-out;
}

.reset-btn:hover {
  border: 3px outset;
  background-color:  rgb(224, 224, 224);
}

@media (orientation: landscape) {
  .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (width > 500px) {
  .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}